<div class="container">
   <header>
    <p>Questions? Call<a href="tel:9788294888" class="call">9788-294888</a></p>
   </header> 
   <a href="#">FAQ</a>
   <a href="#">Help Centre</a>
   <a href="#">Terms Of Use</a>
   <a href="#">Privacy</a><br>
   <a href="#" class="cookie">Cookie Prefrences</a>
   <a href="#"class="corpinfo" > Corporate Information </a>
   <!-- <div class="drop-down" ng-app="demo" ng-controller="myCtrl">
       <select ng-model="selectedName" ng-options="x for x in names"></select>
    </div> -->
</div>
